<div ng-controller="DataEntryCtrl" class="app row">
    <div class="col-md-6" id="actors">
        <div ng-repeat="p in people">
            <div class="actor">
                <div class="name">{{ p.first }} {{ p.last }}</div>
                <ul>
                    <li ng-repeat="c in p.conflicts">
                        {{ conflict_to_string(c) }}
                    </li>
                    <li>
                        <form name="conflictForm_{{p.id}}" ng-submit="conflicts_submit(p.id)">
                            <div date-pair id="conflictInput_{{p.id}}">
                                <input date-picker class="date start" ng-model="conflicts_messages[p.id].start_date" />
                                <input time-picker class="time start" ng-model="conflicts_messages[p.id].start_time"/> to
                                <input time-picker class="time end"   ng-model="conflicts_messages[p.id].end_time" />
                                <input date-picker class="date end"   ng-model="conflicts_messages[p.id].end_date"/>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <div class="actor">
            <form name="personForm" ng-submit="people_submit()">
                <div class="form-group">
                    <label>First</label>
                    <input type="text" name="first" class="form-control" ng-model="people_message.person.first">
                </div>
                <div class="form-group">
                    <label>Last</label>
                    <input type="text" name="last" class="form-control" ng-model="people_message.person.last">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="col-md-6" id="works">
        <div ng-repeat="w in works">
            <div class="work">
                <h4>{{ w.name }} {{ w.type }}</h4>
                <h5>{{ w.duration }} minutes</h5>
                <ul>
                    <li ng-repeat="c in w.called">
                        {{ c.first }} {{ c.last }}
                    </li>
                    <li>
                        <form name="personWorkForm_{{w.id}}">
                            <select ng-model="person_works_messages[w.id]" ng-change="person_works_submit({{w.id}})">
                                <option disabled selected value>choose a person</option>
                                <option ng-repeat="person in people" value="{{person.id}}">
                                    {{ person.first }} {{ person.last }}
                                </option>
                            </select>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <div class="work">
            <form name="workForm" ng-submit="works_submit()">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" ng-model="works_message.work.name">
                </div>
                <div class="form-group">
                    <label>Type</label>
                    <input type="text" name="work_type" class="form-control" ng-model="works_message.work.work_type">
                </div>
                <div class="form-group">
                    <label>Duration</label>
                    <input type="number" name="duration" class="form-control" ng-model="works_message.work.duration">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
    <div class="navbar-default footer">
        <div class="container-fullwidth">
            <div class="nav navbar-nav navbar-left">
                <div class="saved-text">
                    Last saved: {{ last_saved() }}
                </div>
            </div>
            <div class="nav navbar-nav navbar-right">
                <button type="submit" ng-submit="generate_form()" class="btn btn-generate">
                    Generate
                </button>
            </div>
        </div>
    </div>
</div>
