<div ng-controller="ScheduleCtrl" class="app row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <span ng-repeat="item in schedule.rehearsals">
            <table class="table">
                <h1>{{ date_format(item.start_time) }}</h1>
                <tr>
                    <th>Name</th>
                    <th>Work Type</th>
                    <th>Duration</th>
                    <th>Break Duration</th>
                </tr>
                <tr ng-repeat="work in item.works">
                    <td>{{work.name}}</td>
                    <td>{{work.work_type}}</td>
                    <td>{{work.duration}}</td>
                    <td>{{work.break_duration}}</td>
                </tr>
            </table>
        </span>
    </div>
</div>
