<div ng-controller="ScheduleCtrl" class="app row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="sch-rehearsal" ng-repeat="item in schedule.rehearsals">
                <h1>{{ date_format(item.start_time) }}</h1>
                <div class="sch-work" ng-repeat="work in item.works" data-drag="true" data-drop="true"
                     ng-class="{swappable: work.swappable}"
                     jqyoui-draggable="{onStart: 'highlight_all_swappable', onStop: 'unhighlight_all_swappable'}"
                     jqyoui-droppable="{onDrop: 'on_drop'}"
                     data-jqyoui-options="{revert: 'invalid'}"
                     id="work_{{work.id}}">
                    <h2>{{work.name}} {{work.swappable}}</h2>
                    <p>{{work.work_type}} • {{work.duration}}m • {{work.break_duration}}m break</p>
                </div>
        </div>
    </div>
</div>
